@charset "UTF-8";

/*
	Nome: Estilo da página SOBRE
	Data: 17/01/2017
	Descrição:  Versão inicial. 
	Versão: 0.1
	Autor: Gregorio
	Autor URI:  www.gregmaster.com.br
*/


.img-background{
    background-image: url(../img/sobre-background.png);
    float: left;
    width: 100%;
    min-height: 500px;
}

